---
title: Haunted Tours
name: Haunted Tours
description: Book a spooky experience in this airbnb clone!
url: /haunted-tours.html
github: https://github.com/Jtsoco/haunted-tours
---
<div class="container mt-3 d-flex flex-column align-items-center justify-content-center">
  <div>
    <h1>Haunted Tours</h1>
  </div>
  <%= partial "partials/project_links" %>
  <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="carousel">
    <div class="carousel-inner" style="width:1200px">
      <div class="carousel-item active">
        <div class="d-flex flex-row">
          <div class="">
            <%= image_tag("/images/haunted-tours/haunted-home.png", alt: "haunted-tours homepage", class: "explanation-image")%>
          </div>
          <div class=" d-flex align-items-center justify-content-center flex-column w-100 p-2" style="max-width: 600px">
            <h3>Step one:</h3>
            <p>Welcome to the fright of your life at Haunted Tours! This app is an airbnb clone, where you can go on frightful overnight tours of spooky locations, and even host your own!</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-row">
          <div class="">
            <%= image_tag("/images/haunted-tours/tour-index.gif", alt: "index page for all tours", class: "img-fluid explanation-image")%>
          </div>
          <div class=" d-flex justify-content-center align-items-center flex-column w-100 p-2" style="max-width: 600px">
            <h3>Step Two:</h3>
            <p>Here you can browse all of the tours, and select one that interests you.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-row">
          <div class="">
            <%= image_tag("/images/haunted-tours/show-page.gif", alt: "showing a single tour's page", class: "img-fluid explanation-image")%>
          </div>
          <div class=" d-flex align-items-center justify-content-center flex-column w-100 p-2" style="max-width: 600px">
            <h3>Step Three:</h3>
            <p>Interested in a tour? Take it further and look at the details! You can also see reviews about the tour below. When you're ready, book away!</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-row">
          <div class="">
            <%= image_tag("/images/haunted-tours/new-tour-page.png", alt: "page for a new tour", class: "img-fluid explanation-image")%>
          </div>
          <div class=" d-flex align-items-center justify-content-center flex-column w-100 p-2" style="max-width: 600px">
            <h3>Managing Cards</h3>
            <p>Should you decide to host a tour, here is where you can create all the information necessary. Upload pictures, write your description, and get hosting!</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-row">
          <div class="">
            <%= image_tag("/images/haunted-tours/my-tours.gif", alt: "managing your tours", class: "img-fluid explanation-image")%>
          </div>
          <div class=" d-flex align-items-center justify-content-center flex-column w-100 p-2" style="max-width: 600px">
            <p>After you've created your tours, you have to manage them. Check your pending bookings, and decide whether to accept, or reject, the potential customer.</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
