<%= partial 'partials/section' %>
<div class="container">
  <!-- Banner Section -->
  <div id="section-1">
    <%= partial 'partials/banner' %>
    <!-- About Section -->
    <%= partial 'partials/about' %>
  </div>
  <div id="section-2">
    <div class="w-100 d-flex align-items-center justify-content-center embed-responsive embed-responsive-16by9" style="height: 100vh">
      <iframe src='https://www.youtube.com/embed/7BLSmf31Wmw?rel=0&autoplay=0' frameborder='0' allowfullscreen class="embed-responsive-item" height="450" width="800"></iframe>
    </div>
  </div>
  <!-- Projects Section -->
  <div class="section" id="section-3" style="height: 100vh">
    <%= partial 'partials/projects' %>
    <!-- Social Links Section -->
    <%= partial 'partials/social'%>
  </div>
</div>
<script src="javascripts/scroll.js"></script>
